.form {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.inputs {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.forgot_password,
.register {
  font-size: 0.9em;
  color: #333333;
}
.register {
  text-align: center;
  display: block;
  margin-top: 2em;
}
.register span {
  font-weight: 600;
}
