.input,
.invalid_input {
  padding: 1.2em;
  width: 20vw;
  border: 1px solid var(--grey-200);
  border-radius: 0.6em;
  color: #333333;
}
.input::placeholder {
  color: var(--grey-300);
}
.invalid_input::placeholder {
  color: var(--error);
}
.input:focus {
  outline-color: none;
}
.error_message {
  margin-top: 0.2em;
  font-size: 0.8em;
}
