@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("/styles/banner.css");
@import url("/styles/main.css");
@import url("/styles/contact.css");
@import url("/styles/footer.css");
:root {
  --primary-blue: #232e52;
  --primary-white: #ffffff;
  --primary-grey: rgba(128, 128, 128, 0.481);
  --blue-500: #8ceead;

  --secondary-blue: #ebf2fe;
  --poppings: "Poppins", sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
  font-family: var(--poppings);
  background-color: #f1f1f4;
}
a {
  text-decoration: none;
  color: inherit;
}
