.contact {
  text-align: center;
  padding: 3em;
  border-radius: 1em;
  background-color: var(--primary-blue);
  color: var(--primary-white);
  position: relative;
}
.contact svg {
  position: absolute;
  top: 0;
  left: 0;
}
.contact h2 {
  font-weight: bold;
  margin: 0;
}
.contact p {
  font-weight: 200;
  margin: 0.5em 0 1.5em 0;
  font-size: 0.8em;
}
.input_group input {
  border-radius: 0.8em 0 0 0.8em;
  border: none;
  padding: 1em;
}
.input_group button {
  padding: 1em 2em;
  border: none;
  background-color: var(--blue-500);
  border-radius: 0 0.8em 0.8em 0;
  color: var(--primary-blue);
  font-weight: bold;
}