.subscribe_button {
    border: none;
    border-radius: 8px;
    color: var(--primary-white);
    background-color: var(--primary-grey);
    padding: 0.8em 2em;
    cursor: pointer;
  }
  .subscribe_button:hover {
    background-color: grey;
  }