.postImg {
  width: 100%;
  max-height: 720px;
  position: relative;
  top: -1em;
  border-radius: 0 0 1em 1em;
  margin-bottom: 4em;
}
.post_container {
  max-width: 50%;
  margin: 0 auto;
  font-family: var("--poppings");
}
.post_container p {
  margin: 1em 0;
}
.post_body {
  margin-bottom: 8em;
}
.loading {
  color: var(--primary-blue);
  text-align: center;
  margin: 4em;
}
.post_list {
  margin-bottom: 6em;
}
