.banner {
  padding: 2em;
  background-color: var(--primary-blue);
  border-radius: 1em;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ul {
  list-style: none;
  display: flex;
}
.banner_title {
  padding: 7em 8em 5em 8em;
  color: var(--primary-white);
}
.banner_title h3 {
  font-weight: 500;
}
.banner_title h1 {
  font-size: 2.7em;
  font-weight: 600;
}
